@use "categories";
@use "fonts";
@use "variables";


/* Snowflake specific category classes w/Viam overrides */

$color-default: variables.$light-rover; //#134369;
$color-getting-started: variables.$light-hologram; //#5bc6d1;
$developer: variables.$light-power-button; //#00EF83;
$color-devops: variables.$raspberry; //#347c3e;
$color-data: variables.$light-yoshimi; //#097e89;
$color-demos: variables.$pcb; //#c7477a;
@include categories.codelab-card(['default'], $color-default, variables.$mars-rover, '');
@include categories.codelab-card(['getting-started'], $color-getting-started, variables.$hologram, '');
@include categories.codelab-card(['developer'], $developer, variables.$power-button , '');
@include categories.codelab-card(['devops'], $color-devops, $color-devops, '');
@include categories.codelab-card(['data'], $color-data, variables.$yoshimi, '');
@include categories.codelab-card(['workshops'], $color-demos, $color-demos, '');
